<h2>Countries</h2>
<hr />

<ul class="list-group">
  <!-- para hacer la navegación y hacer que este li sea un link de navegación que reconozca el router que hemos implementado entonces hay que colocarle el atributo routerLink="path_a_usar" pero veremos que aún no cambia de ruta cuando se presiona o se hace click y si se le coloca como propiedad, es decir, [routerLink]="'path_a_usar'" y con eso le estamos dando el control a Angular sobre el componente ya que le decimos que establezca dinámicamente el routerLink al valor del string 'path_a_usar' que por ejemplo sería 'home' y si no existe nos dará un error "Can't bind to 'routerLink' since it isn't a known property of 'li'." que nos dice que el li no puede reconocer la propiedad routerLink y para solucionarlo entonces tenemos que hacer que nuestros li en este sidebar.component.html conozcan el routerLink y eso se hace importando en el shared.module.ts en los imports el AppRoutingModule para que todo este módulo de shared.module.ts puede utilizar lo del AppRoutingModule -->
  <!-- no sería necesario hacerlo con [routerLink]="'home'" porque igual a lo que se iguala es un string -->
  <!-- <li [routerLink]="'home'" class="list-group-item">Home Page</li> -->
  <li routerLink="home" routerLinkActive="active" class="list-group-item">
    Home Page
  </li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About Page
  </li>
</ul>
