<div *ngIf="countriesList.length === 0; else countryTable">
  <p class="alert alert-warning text-center">
    No search yet or there aren't data. Please search again...
  </p>
</div>

<ng-template #countryTable>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countriesList; let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flags.svg" alt="{{ country.name.common }}" />
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <!-- cuando al routerLink se coloca entre llaves cuadradas aparte de recibir un string puede recibir un arreglo con los segmentos de la ruta -->
          <!--
            routerLink = "/ruta", se toma como una ruta absoluta y no depende de la url en donde te encuentres. Es decir, que poniendolo de esa manera te enviara a la pantalla "View more..." sin problemas.

            routerLink = "ruta", se toma como una ruta relativa, de modo que toma la ruta actual en donde te encuentras y le concatena lo que tienes en routerLink, por eso se ve como http://localhost:4200/countries/by/:id
           -->
          <a [routerLink]="['/countries/by', country.cca3]">View more...</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
