<h2>
  <strong>By Capital: </strong>
  <!-- condicional if else con pipe de titlecase-->
  <small
    *ngIf="capitalSearchedValue; else noValueTemplate"
    class="text-success"
    >{{ capitalSearchedValue | titlecase }}</small
  >

  <ng-template #noValueTemplate>
    <small class="text-danger">No search yet</small>
  </ng-template>
</h2>
<hr />

<div class="row">
  <!-- Search Box -->
  <div class="col">
    <app-shared-components-search-box
      (handleSearchValueEmitter)="handleSearchByCapital($event)"
      [placeholderProp]="'Search by Capital...'"
    ></app-shared-components-search-box>

    <!-- también se puede mandar sin llaves cuadradas pero eso significará que siempre se mandará un string, que en este caso es lo que placeholderProp espera -->
    <!-- <app-shared-components-search-box
      placeholderProp="Search by Capital..."
    ></app-shared-components-search-box> -->
  </div>
</div>

<div class="row">
  <!-- Results Table -->
  <div class="col">
    <hr />
    <app-countries-component-country-table
      [countriesList]="countriesData"
    ></app-countries-component-country-table>
  </div>
</div>
